# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

backend/venv
backend/__pycache__/
*.pyc
backend/__init__.py
frontend/node_modules/
frontend/dist/
cow_breed/
dataset/
.DS_Store
Thumbs.db
.env